In [1]:
import pandas as pd
import os

# Load dataset from data folder
data_path = "../data/AAPL_raw.csv"
df = pd.read_csv(data_path)

# Check basic info
print(df.shape)
print(df.info())
df.head()

(2517, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2516 non-null   object
 1   Close   2517 non-null   object
 2   High    2517 non-null   object
 3   Low     2517 non-null   object
 4   Open    2517 non-null   object
 5   Volume  2517 non-null   object
dtypes: object(6)
memory usage: 118.1+ KB
None

,Date,Close,High,Low,Open,Volume
0,NaN,AAPL,AAPL,AAPL,AAPL,AAPL
1,2015-01-02,24.261049270629883,24.729272337596463,23.82167345251905,24.71817633026032,212818400
2,2015-01-05,23.57756996154785,24.110145998105324,23.391169279909636,24.030259507971074,257142000
3,2015-01-06,23.57979393005371,23.83942422525078,23.218085117057225,23.641927502270494,263188400
4,2015-01-07,23.910430908203125,24.010288179106578,23.677428352078227,23.788381627754344,160423600

In [2]:
print(df.isnull().sum())

Date      1
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

In [3]:
df = df.dropna()  # simple approach for now

In [4]:
df['Date'] = pd.to_datetime(df['Date'])
df.sort_values('Date', inplace=True)
df.reset_index(drop=True, inplace=True)

In [5]:
df['Close_Lag1'] = df['Close'].shift(1)
df['Close_Lag7'] = df['Close'].shift(7)

In [6]:
df['MA7'] = df['Close'].rolling(window=7).mean()
df['MA30'] = df['Close'].rolling(window=30).mean()
df['Volatility7'] = df['Close'].rolling(window=7).std()
df['Volatility30'] = df['Close'].rolling(window=30).std()

In [7]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.weekday

In [8]:
df = df.dropna()  # drop rows with NaNs created by lag/rolling

In [9]:
cleaned_path = "../data/AAPL_cleaned.csv"
df.to_csv(cleaned_path, index=False)
print(f"Cleaned data saved at {cleaned_path}, shape: {df.shape}")

Cleaned data saved at ../data/AAPL_cleaned.csv, shape: (2487, 16)